@import 'variables';

.fruit-machine {
  margin: auto;
  border: 1px solid white;
  height: 600px;
  width: 80%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;

  &--line {
    height: 20%;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    &--element {
      display: inline-flex;
      width: 20%;
      height: 100%;
      place-content: center;
      color: $custom-bg-primary;
    }
  }
}

.slide--show {
  transform: translateY(30px);
  animation: fadeIn .125s ease-out forwards;
}

.slide--hide {
  transform: translateY(30px);
  animation: fadeOut .125s ease-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}