@import 'variables';
@import 'lottery';

:root {
  --slideAnimationTime: 2s;
}

.fruit-machine {
  margin: auto;
  border: 1px solid white;
  height: 600px;
  width: 80%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;

  @media(max-width: $mobile-max-width) {
    width: 100%;
    max-height: 65vh;
  }

  &--line {
    height: 20%;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.1);

    &--element {
      display: inline-flex;
      width: 20%;
      height: 100%;
      place-content: center;
      color: $custom-bg-primary;
      align-items: center;

      @media(max-width: $mobile-max-width) {
        svg {
          scale: 0.65;
        }
      }

      &.result-line-element {
        border: 3px dashed yellow;

        &.first-result {
          border-right: 0;
        }

        &.middle-result {
          border-left: 0;
          border-right: 0;
        }

        &.last-result {
          border-left: 0;
        }
      }
    }
  }
}

.fruit-machine-buttons {
  float: right;

  @media (max-width: $mobile-max-width) {
    margin-left: auto;
    margin-right: auto;
    float: initial;
  }
}

.fruit-machine-alerts {
  float: left;
  width: 50%;

  @media (max-width: $mobile-max-width) {
    margin: 3% auto;
    float: initial;
    width: 100%;
  }
}

.slide--show {
  transform: translateY(30px);
  animation: slideShow var(--slideAnimationTime) ease-out forwards;
}

.slide--hide {
  transform: translateY(30px);
  animation: slideHide var(--slideAnimationTime) ease-out forwards;
}

@keyframes slideShow {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideHide {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}