@import 'variables';

html, body {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}

.vh-35 {
  height: 35vh;
}

.disabled {
  user-select: none !important;
  cursor: not-allowed;
  pointer-events: none;
}

.main-header {
  .navbar-brand {
    font-size: calc(1.3rem + 0.25vw);

    @media (max-width: $mobile-max-width) {
      font-size: calc(0.5rem + 3vw);
    }
  }

  .navbar {
    .nav-link {
      color: white;
    }

    @media (max-width: $mobile-max-width) {
      .navbar-right {
        .btn {
          width: 100%;
          padding-left: 3px;
          padding-right: 3px;
        }
      }
    }
  }
}

.footer {
  .footer-link {
    text-decoration: none;
  }
}

.custom-bg-primary {
  background-color: $custom-bg-primary;
}

.custom-bg-primary-light {
  background-color: $custom-bg-primary-light;
}

.custom-bg-info {
  background-color: #7dd9fc;
}

.cursor-pointer {
  cursor: pointer;
}

.max-vw-80 {
  max-width: 80vw;
}

.list-style-inside {
  list-style: inside;
}

.security-card {
  width: 50%;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}