@import 'variables';

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.blink-text {
  animation: blink 0.75s ease infinite;
}

.lottery-title {
  &--jackpot {
    @media (max-width: $mobile-max-width) {
      width: 100%;
      font-size: 14px;
    }
  }
}

.play-button,
.play-again-button {
  @media (max-width: $mobile-max-width) {
    font-size: 17px;
  }
}